* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Digital-7";
    src: url(Digital7Italic-BW658.ttf);
}
.calculator-container {
    height: 600px;
    width: 600px;
    background-color: #d3d3d3;
    border-radius: 20px;
    margin: 150px auto;
    position: relative;
    box-shadow: 1px 2px 2px #808080;
}
.small-title {
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
}
.top {
    position: relative;
    top: 5px;
    left: 10px;
}
.display-area {
    background-color: #85A590;
    border-radius: 5px;
    margin: 30px;
    padding-right: 20px;
    height: 75px;
    color: #2f4f4f;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Digital-7";
    font-weight: 999;
    font-size: 72px;
}
.button-area {
    margin: 0px 30px;
    height: 450px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.button {
    height: 75px;
    width: 75px;
    color: #ffffff;
    font-size: 42px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px #808080;
}
.button:active {
    transform: translateY(2px);
    box-shadow: -2px -2px 2px #808080;
}
.number {
    background-color: #000000;
}
.clear {
    background-color: #8b0000;
}
.equal {
    background-color: #008000;
}
.operator {
    background-color: #5f9ea0;
}
.backspace {
    background-color: #dd7575;
}
.power {
    background-color: #8b0000;
}
.posNeg {
    background-color: #2e2e2e;
}
.decimal {
    background-color: #2e2e2e;
}
.bottom {
    position: absolute;
    bottom: 5px;
    left: 278px;
}