* {
    padding: 0;
    margin: 0;
    font-family: PT Sans, Helvetica Neue, Helvetica;
    box-sizing: border-box;
}

#navbar {
    position: fixed;
    display: block;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #222;
    padding: 10px 0;
    transition: padding .3s;
    border: none;
    border-radius: 0;
    min-height: 50px;
    margin-bottom: 20px;
}

.navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
}

.navbar-token-transit-title {
    color: #2899d4;
    fill: #2899d4;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    margin-left: -15px;
    float: left;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;

}

.navbar-token-transit-title:hover {
    color: #185b7e;
}

.navbar-logo {
    fill: #2899d4;
    vertical-align: middle;
    display: inline-block;
}

.nav-list-container {
    margin-right: 0;
    margin-left: 0;
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
    width: auto;
    border-top: 0;
}

.nav-list-container::after {
    clear: both;
}

.nav-list {
    float: right;
    margin-right: 0 -15px 0 0;
    list-style: none;
    font-size: 14px;
    line-height: 1.75;
    
}

.nav-list li {
    position: relative;
    display: block;
    float: left;
}

.nav-list a {
    display: block;
    padding: 15px;
    color: white;
    position: relative;
    line-height: 20px;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.nav-list a:hover {
    color: #2899d4;
}

/* .list-item {
    color: white;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    display: inline-block;
    padding: 15px;
}
*/


li a:hover {
    color: rgb(108, 159, 255);
}

.picture-container {
    text-align: center;
    height: 790px;
    margin-top: 50px;
    /* background-image: url("https://tokentransit.com/static/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    background: center / cover no-repeat url("https://tokentransit.com/static/img/header-bg.jpg");
    padding: 300px 0 200px 0;
}

.header-image {
    background-size: cover;
    width: 100%;
    height: 790px;
}

.small-title {
    font-size: 22px;
    font-family: Helvetica Neue, Helvetica;
    font-style: italic;
    color: white;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 25px;
}

.big-title {
    font-size: 50px;
    font-family: PT Sans, Helvetica;
    color: white;
    font-size: 75px;
    line-height: 75px;
    font-weight: 700;
    margin-bottom: 50px;
}

.big-blue-button {
    color: white;
    display: inline-block;
    font-weight: 700;
    padding: 20px 40px;
    border-color: rgb(40, 158, 236);
    background-color: rgb(40, 158, 236);
    border-radius: 3px;
}

.big-blue-button:hover {
    background-color: rgb(89, 156, 201);
}

.blue-button-subtitle {
    display: block;
    font-size: 12px;
    font-family: PT Sans, Helvetica;
    margin: 10px 0;
    color: white;
}

.main-content-container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

section {
    padding: 75px 0;
    
}

.top-description {
    width: 66%;
    text-align: center;
    margin: 0px auto;
    max-width: 750px;
}

hr {
    color: #eee;
    margin: 20px auto;
    height: 0;
    border-top: 1px solid #eee;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    text-align: center;
}

hr::before {
    clear: both;
}

hr::after {
    clear: both;
}

.main-description {
    font-size: 21px;
    font-family: Helvetica;
    font-weight: 300;
    text-align: center;
    color: #777;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.unusually-big-title-of-subsection {
    font-size: 40px;
    font-weight: 500;
    font-family: PT Sans;
    text-align: center;
    margin: 0 0 25px 0;
}

.three-step-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

.step {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 0 15px;
}

.step-title {
    font-size: 24px;
    font-family: PT Sans;
    font-weight: 500;
    margin: 15px 0;
    text-align: center;
    line-height: 1.1;
}

.step-description {
    font-size: 14px;
    font-family: Helvetica Neue;
    color: #777;
    text-align: center;
    margin: 0 0 10px;
    line-height: 1.75;
}

.step img {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.center-it {
    text-align: center;
}

.title-with-button-below {
    font-size: 30px;
    font-weight: 500;
    font-family: PT Sans;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.medium-blue-buttons {
    color: white;
    background-color: rgb(40, 158, 236);
    font-weight: 700;
    line-height: 1.3;
    font-size: 18px;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 20px 0 0 0;
    display: inline-block;
    justify-content: center;
}

.left-it {
    text-align: left;
}

footer {
    text-align: center;
    padding: 25px 0;
}

.footer-row {
    margin: 0 -15px;
    box-sizing: border-box;
}

.footer-row::before {
    clear: both;
    display: table;
    content: " ";
}

.footer-row::after {
    clear: both;
    display: table;
    content: " ";
}

.footer-link-column {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
    color: #333;
}

h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #207aa9;
    text-decoration: none;
    background-color: transparent;
}

ul {
    font-size: 14px;
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 10px;
}

li {

}

.unstyled-list {
    list-style: none;
    padding-left: 0;
}

.copyright-info {
    color: #333;
    font-size: 14px;
    line-height: 40px;
}

.social-media-buttons {
    margin-bottom: 0;
}

.inline-list {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.social-media-buttons > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
}

.fa-facebook::before {
    content: "\f09a";
}

.fa-twitter::before {
    content: "\f099";
}

ul.social-media-buttons li a {
    color: white;
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-media-buttons li a:hover {
    background-color: #2899d4;
}

/*

iframe {
    color-scheme: light;
    width: 132px;
    height: 50px;
    padding: 0px;
    margin: 10px 20px;
    position: fixed;
    bottom: 0px;
    overflow: visible;
    opacity: 1;
    border: 0px;
    z-index: 999998;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: opacity, top, bottom;
    right: 0px;
}

.floating-support-button {
    background-color: #2899d4;
    color: #ffffff;
    fill: #ffffff;
    padding: .92857rem 1.57143rem;
    border-radius: 999rem;
    border: none;
    bottom: 0;
    letter-spacing: 0.6;
    font-size: 1.07143rem;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
    display: inline-block;
    text-transform: none;
    overflow: visible;
    font: inherit;
}

.support-button-container {
    vertical-align: middle;
    padding-right: 0 .57143rem 0 0;
    color: inherit;
    display: inline-block;
    max-width: 100%;
}

.svg-stuff {
    min-width: 1.42857rem;
    max-height: 100%;
    min-height: 1.42857rem;
    height: 1.42857rem;
    width: 1.42857rem;
    overflow: hidden;
    color: #ffffff;
    fill: #ffffff;    
}

*/