* {
    padding: 0;
    margin: 0;
    font-family: PT Sans, "Helvetica Neue", Helvetica;
    box-sizing: border-box;
}

#navbar {
    position: fixed;
    display: block;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    transition: padding 0.3s, background-color 0.3s;
    border: none;
    border-radius: 0;
    min-height: 50px;
    margin-bottom: 20px;
}

.navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
}

.navbar-token-transit-title {
    color: #2899d4;
    fill: #2899d4;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 21px;
    margin-left: -15px;
    float: left;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
}

.navbar-token-transit-title:hover {
    color: #185b7e;
}

.navbar-logo {
    fill: #2899d4;
    vertical-align: middle;
    display: inline-block;
}

.nav-list-container {
    margin-right: 0;
    margin-left: 0;
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
    width: auto;
    border-top: 0;
}

.nav-list-container::after {
    clear: both;
}

.nav-list {
    float: right;
    margin-bottom: 0;
    list-style: none;
    font-size: 14px;
    line-height: 1.75;
    
}

.nav-list li {
    position: relative;
    display: block;
    float: left;
}

.nav-list a {
    display: block;
    padding: 15px;
    color: white;
    position: relative;
    line-height: 20px;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.nav-list a:hover {
    color: #2899d4;
}

li a:hover {
    color: rgb(108, 159, 255);
}

.mobile-nav-button-container {
    display: none;
}

.picture-container {
    text-align: center;
    height: 790px;
    background: center / cover no-repeat url("https://tokentransit.com/static/img/header-bg.jpg");
    padding: 300px 0 200px 0;
}

.header-image {
    background-size: cover;
    width: 100%;
    height: 790px;
}

.small-title {
    font-size: 22px;
    font-family: "Helvetica Neue", Helvetica;
    font-style: italic;
    color: white;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 25px;
}

.big-title {
    font-size: 50px;
    font-family: PT Sans, Helvetica;
    color: white;
    font-size: 75px;
    line-height: 75px;
    font-weight: 700;
    margin-bottom: 50px;
}

.big-blue-button {
    color: white;
    display: inline-block;
    font-weight: 700;
    padding: 20px 40px;
    border-color: rgb(40, 153, 212);
    background-color: rgb(40, 153, 212);
    border-radius: 3px;
    font-size: 18px;
    line-height: 25.7167px;
    border: 1px solid transparent;
}

.big-blue-button:hover {
    background-color: #207aa9;
    border-color: #1e74a1;
}

.blue-button-subtitle {
    display: block;
    font-size: 12px;
    font-family: PT Sans, Helvetica;
    font-weight: 500;
    margin: 10px 0;
    color: white;
}

.main-content-container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

section {
    padding: 75px 0;
    
}

.top-description {
    width: 66%;
    text-align: center;
    margin: 0px auto;
    max-width: 750px;
}

hr {
    color: #eee;
    margin: 20px auto;
    height: 0;
    border-top: 1px solid #eee;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    text-align: center;
}

hr::before {
    clear: both;
}

hr::after {
    clear: both;
}

.main-description {
    font-size: 21px;
    font-family: Helvetica;
    font-weight: 300;
    text-align: center;
    color: #777;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.unusually-big-title-of-subsection {
    font-size: 40px;
    font-weight: 500;
    font-family: PT Sans;
    text-align: center;
    margin: 0 0 25px 0;
}

.three-step-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

.step {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 0 15px;
}

.step-title {
    font-size: 24px;
    font-family: PT Sans;
    font-weight: 500;
    margin: 15px 0;
    text-align: center;
    line-height: 1.1;
}

.step-description {
    font-size: 14px;
    font-family: Helvetica;
    color: #777;
    text-align: center;
    margin: 0 0 10px;
    line-height: 1.75;
}

.step img {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.center-it {
    text-align: center;
}

.title-with-button-below {
    font-size: 30px;
    font-weight: 500;
    font-family: PT Sans;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(51, 51, 51);
}

.medium-blue-buttons {
    color: white;
    background-color: rgb(40, 153, 212);
    font-weight: 700;
    line-height: 1.3;
    font-size: 18px;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 20px 0 0 0;
    display: inline-block;
    justify-content: center;
}

.left-it {
    text-align: left;
}

footer {
    text-align: center;
    padding: 25px 0;
}

.footer-row {
    margin: 0 -15px;
    box-sizing: border-box;
}

.footer-row::before {
    clear: both;
    display: table;
    content: " ";
}

.footer-row::after {
    clear: both;
    display: table;
    content: " ";
}

.footer-link-column {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
    color: #333;
}

h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #207aa9;
    text-decoration: none;
    background-color: transparent;
}

footer ul {
    font-size: 14px;
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 10px;
}

.unstyled-list {
    list-style: none;
    padding-left: 0;
}

.copyright-info {
    color: #333;
    font-size: 14px;
    line-height: 40px;
}

.social-media-buttons {
    margin-bottom: 0;
}

.inline-list {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.social-media-buttons > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
}

.fa-facebook::before {
    content: "\f09a";
}

.fa-twitter::before {
    content: "\f099";
}

ul.social-media-buttons li a {
    color: white;
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-media-buttons li a:hover {
    background-color: #2899d4;
}

.support-button-container {
    float: right;
    position: relative;
}

.floating-support-button {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: #2899d4;
    color: #ffffff;
    padding: 13px 22px;
    border-radius: 999rem;
    border: none;
    letter-spacing: 0.6;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
}

.floating-support-button:hover {
    background-color: #217eb0;
    transition: background-color 300ms;
    font-family: system-ui;
}

.svg-container {
    vertical-align: middle;
    font-size: 0px;
    padding-right: 8px;
    color: inherit;
    display: inline-block;
    max-width: 100%;
    letter-spacing: 0.6px;
}

.svg-span {
    overflow: hidden;
    color: #ffffff;
    fill: #ffffff;    
    font-size: 15px;
}

.support-span {
    font-weight: 700;
    letter-spacing: 0.6px;
    font-size: 15px;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    font-family: system-ui, "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", Arial, sans-serif;
}

@media (max-width: 767px) {
    #navbar {
        background-color: #222;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 3.15px solid transparent;
        z-index: 1;
    }
    .navbar-token-transit-title {
        font-size: 18px;
    }
    .mobile-nav-button-container {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
    }
    .mobile-nav-button {
        background-color: transparent;
        font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        color: #2899d4;
        font-size: 16px;
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-right: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        appearance: button;
        font-weight: 400;
        line-height: 17.15px;
        overflow: visible;
    }
    .mobile-nav-button:hover {
        background-color: #2899d4;
        color: #222;  
    }
    .mobile-nav-button.button-is-focused {
        background-color: #2899d4;
        color: #222;  
    }
    .mobile-nav-list .mobile-list-item {
        display: none;
    }
    .mobile-list-item.js-show-mobile-nav-links {
        float: none;
        text-align: center;
        display: flex;
        text-align: left;
        flex-direction: column;
        width: 100%;
        padding: 10px 15px;
    }
    .mobile-list-item.js-show-mobile-nav-links a {
        color: white;
        font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 20px;
    }
    .mobile-list-item.js-show-mobile-nav-links:first-of-type {
        padding-top: 18px;
        border-top: 1px solid rgba(255,255,255,.2);
    }
    .mobile-list-item.js-show-mobile-nav-links:last-of-type {
        margin-bottom: 8px;
    }
    .fa-nav::before {
        content: "\f0c9";
    }
    .fa-nav {
        font-size: 1.33333333em;
        line-height: 12px;
        content: "\f0c9";
    }
    .picture-container {
        padding: 0 15px;
        margin: 0;
        height: auto;
    }
    .picture-section-text-wrapper {
        padding-top: 80px;
        padding-bottom: 30px;
    }
    .small-title {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 25px;
    }
    .big-title {
        font-weight: 500;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 25px;
    }
    .big-blue-button {
        font-size: 18px;
        border: 1px solid transparent;
    }
    section {
        padding: 30px 0;
    }
    .main-content-container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .top-description {
        width: auto;
    }
    .main-description {
        font-size: 16px;
    }
    .unusually-big-title-of-subsection {
        line-height: 44px;
    }
    .mobile-three-step-image-row {
        width: 83.33%;
        margin-left: 8.33%;
    }
    .mobile-three-step-image-row img {
        max-width: 100%;
        height: auto;
    }
    .title-with-button-below {
        line-height: 33px;
    }
    footer a {
        font-family: Helvetica;
    }
    .footer-link-column {
        width: 100%;
    }
    .floating-support-button {
        padding: 14px;
        font-family: system-ui;
    }
    .svg-container {
        padding-right: 0px;
    }
    .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #navbar {
        background-color: transparent;
    }
    .main-content-container {
        width: 750px;
    }
    .top-description {
        width: 625px;
    }
    .hide-on-tablet {
        display: none;
    }
}

@media (min-width: 1025px) {
    .hide-on-desktop {
        display: none;
    }
}

