body {
    background-color: beige;
    font-family: courier new;
  }
  
  #title {
    text-align: center;
    font-size: 3em;
    text-decoration: underline;
    background-color: khaki;
  }
  
  #img-div {
    position: relative;
    max-width: 896px;
    width: 100%;
    margin: 0 auto;
  }
  
  #image {
    display: block;
    width: 100%;
    border: 1px solid black;
  }
  
  #superimposed-image-1 {
    display: block;
    position: absolute;
    top: 30%;
    left: 42%;
    width: 25%;
    transform: rotate(-0.09turn)
  }
  
  #img-caption {
    font-size: 2em;
    margin: 0.5rem 0 1.5rem;
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
  
  #tribute-info {
    font-size: 1.75em;
    margin: 0 20px;
    text-align: center;
    padding: 0 5%;
  }
  
  #reference {
    font-size: 1.5em;
    text-align: center;
  }
  
  .background-extend {
    box-shadow: 0 0 0 100vmax khaki;
    clip-path: inset(0 -100vmax); 
    background-color: khaki;
  }