* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
}
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-padding-top: 60px;
}
body {
    margin-top: 60px;
}
#navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    padding: 5px;
    background-color: #1a1413;
    z-index: 5;
}
nav a {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    padding: 15px;
    line-height: 20px;
    font-weight: 400;
}
nav a:hover {
    color: khaki;
}
.nav-title-container {
    float: left;
}
.nav-title {
    cursor: default;
    pointer-events: none;
    padding-right: 0px;
}
.nav-signature-title {
    font-family: "Shadows Into Light", cursive;
    font-size: 20px;
}
.nav-list {
    float: right;
    letter-spacing: 1px;
}
.list-item {
    float: left;
}
.unstyled-list {
    list-style: none;
    padding-left: 0px;
}
#bio {
    
}
.background-image-container {
    background-color: #1a1413;
    background-image: url("background4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: overlay;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 60%;
}
#image-gallery {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: khaki;
    text-shadow: 1px 1px 5px #1a1413;
    margin-bottom: 5px;
}
#image-gallery section {
    font-size: 24px;
    align-items: center;
    font-weight: 700;
}
.gallery-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background-color: #1a1413;
    max-width: 100%;
    margin: 5px auto 25px;
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    border-color: khaki;
    text-align: center;
}
.gallery-box > * {
    flex: 0 1 32%;
    object-fit: cover;
    overflow: auto;
}
#contact {
    background-color: #1a1413;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
#div-box-art {
    height: 600px;
    width: 600px;
    margin: 20px auto 10px;
}
#div-box-art *:hover {
    background-color:#1a1413;
}
.large-box {
    background-color: khaki;
    height: 200px;
    padding: 20px;
}
.medium-box {
    background-color: teal;
    height: 80px;
    width: 80px;
    margin: 5px auto;
    border-radius: 25%;
    z-index: 2;
    position: relative;
}
.small-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    z-index: 3;
}
.small-box:first-child {
    background-color: darkred;
    bottom: 40px;
    right: 250px;
}
.small-box:nth-child(2) {
    background-color: aquamarine;
    right: 100px;
    top: 10px;
    transform: rotate(45deg);
    border-radius: 50% 20% / 10% 40%;
}
.small-box:nth-child(3) {
    background-color: salmon;
    left: 100px;
    bottom: 10px;
    transform: rotate(-20deg);
}
.small-box:last-child {
    background-color: green;
    left: 250px;
    top: 40px;
}
/* .hide-until-click {
    display: none;
} */
.show-on-click {
    display: block;
}
@media (max-width: 302px) {
    .nav-title {
        display: none;
    }
    .gallery-box > * {
        flex: 0 1 100%;
        object-fit: cover;
        overflow: auto;
    }
}

@media (max-width: 767px) {
    .mobile-only-nav-button-container *{
        display: block;
        float: right;
        font-size: 20px;
    }
    #force-fa-size {
        line-height: 17.15px;
    }
    .mobile-only-nav-button {
        background-color: transparent;
        position: relative;
        padding: 15px;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        appearance: button;
        font-weight: 400;
        overflow: visible;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 20px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        line-height: 17.15px;
    }
    .fa::before {
        content: "\f0c9";
    }
    .gallery-box > * {
        flex: 0 1 100%;
        object-fit: cover;
        overflow: auto;
    }
    .hide-on-mobile {
        display: none;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .gallery-box > * {
        flex: 0 1 49%;
        object-fit: cover;
        overflow: auto;
    }
    .hide-on-tablet {
        display: none;
    }
}

@media (min-width: 1025px) {

    .hide-on-desktop {
        display: none;
    }
}
