* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 50px;
    padding: 5px;
    background-color: black;
}
nav a {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    padding: 15px;
    line-height: 20px;
    font-weight: 400;
}
nav a:hover {
    color: khaki;
}
.nav-title-container {
    float: left;
}
.nav-title {
    cursor: default;
    pointer-events: none;
    padding-right: 0px;
}
.nav-signature-title {
    font-family: "Shadows Into Light", cursive;
    font-size: 20px;
}
.nav-link-list-container {
    
}
.nav-list {
    float: right;
    letter-spacing: 1px;
}
.list-item {
    float: left;
}
.unstyled-list {
    list-style: none;
    padding-left: 0px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
}

@media (max-width: 767px) {
    .fa-nav::before {
        content: "\f0c9";
    }
    .fa-nav {
        font-size: 1.33333333em;
        line-height: 12px;
        content: "\f0c9";
    }
    .hide-on-mobile {
        display: none;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    
    .hide-on-tablet {
        display: none;
    }
}

@media (min-width: 1025px) {

    .hide-on-desktop {
        display: none;
    }
}
