#navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 50px;
    background-color: black;
    color: white;
}
.hide-on-mobile {
    display: none;
}
.hide-on-tablet {
    display: none;
}
.hide-on-desktop {
    display: none;
}