:root {
  --background-color-1: #224;
  --title-color: #BBF;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 576px) {
  a.project-link:nth-child(n + 2):nth-child(-n+4) {
    grid-template-columns: repeat(1, 100px);
    grid-column: 1;
    grid-gap: 0;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
  }
  #projects {
    width: 100%;
    height: auto;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 58px;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  background: var(--background-color-1);
  color: var(--title-color);
}

.nav-title {
  display: inline-block;
  width: 55%;
  min-width: 75px;
  text-align: left;
  margin: 15;
  color: linen;
}

.nav-list {
  list-style: none;
  font-weight: 600;
  font-size: 22px;
  display: flex;
  padding: 1rem;
}

.list-item a {
  padding: 1rem;
}

.list-item a:hover {
  background: #779;
  border-radius: 2px;
}

a {
  color: var(--title-color);
  text-decoration: none;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(65deg, #335, #99D);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

.welcome-title {
  display: flex;
  text-align: center;
  align-items: center;
  text-shadow: 2px 2px 2px var(--background-color-1);
}

.text-animate {
  animation: title 8s ease-in-out infinite;
  padding: 10px;
}

@keyframes title {
  0% {
    transform: rotate(0deg);
    color: white;
  }
  25% {
    transform: rotate(15deg);
    color: #FF9;
    filter: hue-rotate(0deg);
  }
  50% {
    transform: rotate(0deg);

  }
  75% {
    transform: rotate(-15deg);
    filter: hue-rotate(360deg);
    color: #99F;
  }
  100% {
    transform: rotate(0deg);
  }
}


.welcome-subtitle {
  text-shadow: 2px 2px 2px var(--background-color-1);
}

.section-title {
  display: block;
  text-align: center;
  text-decoration: underline;
  padding: 2rem;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 2px var(--background-color-1);
}

#projects {
  width: 100%;
  background: linear-gradient(-65deg, #229, #99F);
  border-top: 1px solid white;
}

.project-tile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  justify-items: center;
}

.project-link {
  width: 250px;
}

.project-link:hover {
  transform: scale(1.1);
  transition: .4s;
}

.project-image {
  height: 250px;
  width: 250px;
  object-fit: fill;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 2px 2px 2px var(--background-color-1);
}

.project-title {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 2px var(--background-color-1);
}

#contact-info {
  height: 100vh;
  width: 100%;
  border-top: 1px solid white;
  background: linear-gradient(-25deg, #ffe4cd, #145388);
}

.social-icons {
  display: grid;
  font-size: 3rem;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.contact-tile {
  display: grid;
  font-size: 3rem;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  justify-items: left;
  max-width: 600px;
  margin: 3rem auto;
}

.contact-image {
  max-width: 50px;
  object-fit: cover;

}

.contact-info {
  color: white;
  text-shadow: 2px 2px 2px var(--background-color-1);
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 58;
  left: 0;
  width: 100%;
}

.footer-text {
  width: 100%;
  text-align: center;
  background: #145388;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 2px var(--background-color-1);
}